<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>StackOverflow |<small> The Clone</small></h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag "nyancat.png" %>
      </a>
      <%= link_to "Questions", questions_path %> |
      <% if current_user %>
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to "Log Out", log_out_path(current_user) %>
      <% else %>
      <%= link_to "Log In", log_in_path %> |
      <% end %>
      <% if current_user %> Logged in as:
      <%= current_user.name %>
      <% end %>
    </div>
  </div>
</nav>
<hr>
  <div class="container">
  <%= flash[:notice] %>
  <%= flash[:alert] %>

  <%= yield %>
  </div>
</body>
</html>
